nav {
    margin-bottom: 10px;
}

#navbarNav {
    justify-content: right;
}


.navbar-nav {
    align-items: center;
    justify-content: space-around;
    gap: 10px
}

#p-nav-1 {
    background-color: rgb(41, 41, 41);
}

.navbar-brand {
    color: whitesmoke;
    font-size: 30px
}

.nav-item {
    width: 20%;
    height: 20%;
}

.nav-link {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}

.nav-link img {
    width: 30px;
}

#logo {
    width: 10%;
    border-radius: 100%;
}


@media (max-width:480px) {

    .container {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .navbar>.container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: left;
    }

    #nav-titles {
        font-size: 0.65em;
    }

    .navbar-toggler {
        position: absolute;
        top: 60px;
        right: 15px;
    }


    #logo {
        width: 30%;
        border-radius: 100%;
    }

    .p-titles {
        color: aliceblue;
        font-family: 'Poiret One', sans-serif;
        font-size: 2.5em;
    }

    .p-subtitle {
        color: aliceblue;
        font-size: 1.2em;
        margin-top: 0;
        padding-top: 0;
    }

    .p-section-titles {
        color: black;
        font-family: 'Poiret One', sans-serif;
        font-size: 1.8em;
    }
    .flex-container li {
        list-style: none;
        margin-bottom: 90px;
        margin-top: 10px;
        padding: 5px;
        text-align: center;
    
    }
}

@media (min-width: 481px) and (max-width:768px) {
    .navbar>.container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-around;
    }

    #logo {
        width: 30%;
        border-radius: 100%;
    }

    .p-titles {
        font-family: 'Poiret One', sans-serif;
        font-size: 3em;
        color: aliceblue;

    }

    .p-subtitle {
        font-size: 1rem;
        margin-top: 0;
        padding-top: 0;
        color: aliceblue;
    }

    .p-subtitle img {
        width: 20px;
    }
    .p-section-titles {
        color: black;
        font-family: 'Poiret One', sans-serif;
        font-size: 1.8em;
    }
    .flex-container li {
        list-style: none;
        margin-bottom: 90px;
        margin-top: 10px;
        padding: 5px;
        text-align: center;
    
    }
}
@media (min-width:769px) and (max-width:820px){
    .navbar>.container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content:flex-start;
    }

    #logo {
        margin-left: 10px;
        width: 20%;
        border-radius: 100%;
    }

    .p-titles {
        font-family: 'Poiret One', sans-serif;
        font-size: 3.5em;
        color: aliceblue;
margin-right: 250px;
    }

    .p-subtitle {
        font-size: 1.8rem;
        margin-top: 0;
        padding-top: 0;
        color: aliceblue;
    }

    .p-subtitle img {
        width: 30px;
    }
    .p-section-titles {
        color: black;
        font-family: 'Poiret One', sans-serif;
        font-size:2.5em;
    }

}


@media (min-width:821px) {
    #nav-titles {
        color: azure;
        margin-right: 15%;
    }

    #logo {
        width: 10%;
        border-radius: 100%;
        margin: 10px;
    }

    .p-titles {
        font-family: 'Poiret One', sans-serif;
        font-size: 3.5em;
    }

    .p-subtitle {
        font-size: 1rem;
        margin-top: 0;
        padding-top: 0;
    }

    .p-subtitle img {
        width: 30px;
    }
    .p-section-titles {
        color: black;
        font-family: 'Poiret One', sans-serif;
        font-size:2.5em;
    }
}



#p-heading-1 {
    margin: 20px;
}

.flex-container {
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.flex-container li {
    list-style: none;
    margin-bottom: 90px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;

}


#p-student,
#p-personal-projects {
    margin-bottom: 50px;
    margin-left: 0px;
}


.p-images {
    width: 100%;
    height: 100%;
    border-radius: 4%;
}

p {
    margin: 5px;
}

li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

#top {
    z-index: 1;
    position: -webkit-sticky;
    /*Safari */
    position: sticky;
    top: 10vh;
    bottom: 1vh;
    left: 100%;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    width: 8vw;
    height: 12vh;
}

footer {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    bottom: 0px;
    font-size: 12px;
    padding: 10px;
    background-color: rgb(41, 41, 41);
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

.p-footer-info {
    display: flexbox;
    margin-bottom: 1%;
    width: 45%;
    justify-content: center;
    text-align: center;
}

.p-footer-contact {
    justify-content: center;
    text-align: center;
    font-size: 20px;
}